* { padding: 0; margin: 0; list-style-type: none; text-decoration: none; -webkit-box-sizing: border-box; box-sizing: border-box; outline: none !important; }

html { --textColorH: #fff; --mainColor: #111; --primaryColor: #eee; }

html[data-theme='dark'] { --textColorH: #fff; --mainColor: #fff; --primaryColor: #05050d; }

html[data-theme='dark'] .App .tasks .task label::before { border: 1px solid #05050d !important; }

html[data-theme='dark'] .App .tasks .task label::after { background: #eee !important; color: #05050d; }

html[data-theme='dark'] .App .tasks .task .date { color: #bbb; }

html[data-theme='dark'] .App form input::-webkit-input-placeholder, html[data-theme='dark'] .App form input[type='date']::-webkit-datetime-edit { color: #bbb; }

html[data-theme='dark'] .App form input::placeholder, html[data-theme='dark'] .App form input[type='date']::-webkit-datetime-edit { color: #bbb; }

html[data-theme='dark'] .App form input[type='date']::-webkit-calendar-picker-indicator { -webkit-filter: invert(0.64); filter: invert(0.64); }

body { color: #222; min-height: 100vh; font-family: Roboto, Oxygen, sans-serif; -webkit-tap-highlight-color: transparent; -webkit-transition: 0.4s linear; transition: 0.4s linear; background: linear-gradient(45deg, #0003a3, #5b0072); }

h1, h2, h3 { font-family: Oxygen, sans-serif; }

.flex { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

button { cursor: pointer; }

.App { margin: auto; position: relative; max-width: 460px; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.12); box-shadow: 0 0 8px rgba(0, 0, 0, 0.12); }

.App input { -webkit-transition: 0.3s linear; transition: 0.3s linear; }

header { color: var(--textColorH); padding: 20px; margin-bottom: 40px; }

header nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

header nav h1 a { color: #fff; font-size: 22px; }

header nav .mode_icon input:checked + label .ball { left: 34px; }

header nav .mode_icon label { cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; height: 30px; width: 60px; padding: 2px 8px; border-radius: 30px; -webkit-transition: 0.4s; transition: 0.4s; background: var(--primaryColor); position: relative; }

header nav .mode_icon label .ball { position: absolute; height: 20px; width: 20px; left: 4px; border-radius: 50%; -webkit-transition: 0.6s linear; transition: 0.6s linear; background: var(--mainColor); }

header nav .mode_icon label i.fa { color: var(--mainColor); }

header nav .mode_icon input { display: none; }

header form#addTaskForm { display: -ms-grid; display: grid; width: 100%; padding-top: 55px; }

header form#addTaskForm input { padding: 12px; width: 100%; color: #ddd; margin-bottom: 20px; background: transparent; border: 1px solid var(--primaryColor); border-radius: 16px; }

header form#addTaskForm button { font-weight: bold; padding: 12px 20px; border-radius: 16px; border: none; color: var(--mainColor); background: var(--primaryColor); }

header form#searchForm { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 55px; position: relative; }

header form#searchForm input { padding: 15px 20px; width: 100%; border: none; border-radius: 22px; opacity: 0.8; color: var(--primaryColor); background: transparent; border: 1px solid var(--primaryColor); }

header form#searchForm i.fa { position: absolute; right: 16px; font-size: 21px; cursor: pointer; color: var(--primaryColor); }

header input::-webkit-input-placeholder, header input[type='date']::-webkit-datetime-edit { color: #bbb; }

header input::placeholder, header input[type='date']::-webkit-datetime-edit { color: #bbb; }

header input[type='date']::-webkit-calendar-picker-indicator { -webkit-filter: invert(0.7); filter: invert(0.7); }

main { color: var(--mainColor); width: 100%; min-height: 70vh; border-radius: 45px 0 0; padding: 30px; padding-bottom: 75px; -webkit-transition: 0.3s linear; transition: 0.3s linear; background: var(--primaryColor); }

main .heading { position: relative; text-transform: uppercase; letter-spacing: 0.4px; margin-bottom: 28px; }

main .heading:after { content: ''; position: absolute; bottom: -6px; height: 2px; width: 40px; left: 0; background: #3c0183; }

main .addTaskButton { position: fixed; display: -ms-grid; display: grid; place-content: center; right: 35px; bottom: 50px; width: 50px; height: 50px; color: #eee; font-size: 44px; border-radius: 50%; z-index: 5; cursor: pointer; background: #3c0183; -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25); box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25); }

main .addTaskButton span { font-size: 40px; margin-top: -1px; -webkit-transition: 0.4s; transition: 0.4s; margin-right: -1px; }

.tasks .task { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 10px 20px; margin-bottom: 24px; border-radius: 5px; position: relative; background: #6a67775c; }

.tasks .task span input { display: none; }

.tasks .task span input[type='checkbox']:checked + label::after { -webkit-transform: scale(1) rotateZ(0deg); transform: scale(1) rotateZ(0deg); }

.tasks .task span label::before { content: ''; position: absolute; padding: 7px; left: 0; border-radius: 50%; border: 1px solid #2d03cc; }

.tasks .task span label::after { content: '\f00c'; font-family: FontAwesome; position: absolute; color: #fff; left: 0; top: -1px; padding: 3px; border-radius: 50%; font-size: 11px; background: #2204d4; -webkit-transform: scale(0) rotateZ(180deg); transform: scale(0) rotateZ(180deg); -webkit-transition: 0.4s ease-out; transition: 0.4s ease-out; }

.tasks .task span label { position: relative; font-weight: 400; font-size: 15px; padding-left: 35px; text-transform: capitalize; }

.tasks .task .date { position: absolute; background: var(--primaryColor); color: #222; padding: 4px 15px; border-radius: 4px; font-size: 11px; bottom: -13px; left: 55px; font-weight: 500; -webkit-transition: 0.3s linear; transition: 0.3s linear; }

.tasks .task .delTask { color: red; font-size: 30px; cursor: pointer; }

.tasks .noTask { position: relative; margin-top: 40px; text-align: center; }

.tasks .noTask:after { content: ''; position: absolute; bottom: -9px; height: 2px; width: 110px; background: #3c0183; margin: auto; left: 0; right: 0; }

.addTaskButton { position: absolute; right: 75px; }

.addTaskButton .btn { position: fixed; bottom: 35px; display: -ms-grid; display: grid; place-content: center; width: 50px; height: 50px; border-radius: 50%; z-index: 5; cursor: pointer; background: #3c0183; -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25); box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25); }

.addTaskButton span { color: #eee; font-size: 40px; margin-top: -1px; -webkit-transition: 0.4s; transition: 0.4s; margin-right: -1px; }
